<ion-view id="Lets just eat." hide-nav-bar="true">

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-done favorites" ng-click="save()"></button>
  </ion-nav-buttons>
  

  <ion-content class="ion-content">
    
  <h1>Lets just eat at...</h1>


  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">		
      <div class="center">
		  <h1 id="word">
		    <span class="letter">L</span>
		    <span class="letter">E</span>
		    <span class="letter">T</span>
		    <span class="letter">S</span>
		    <span class="letter"> </span>
		    <span class="letter">E</span>
		    <span class="letter">A</span>
		    <span class="letter">T</span>
		    <span class="letter"></span>
		    <span class="letter">A</span>
		    <span class="letter">T</span>
		  </h1>
		  <div id="test"></div>
            <p>{{ thePlace.address }}</p>
            <p><a href="{{ thePlace.link }}">lisää verkkosivuilta</a></p>
		</div>
		<i class="material-icons right">more_vert</i></span>
		<br>
		<div class="star-ratings-sprite"><span ng-style="{width:(rating/5*100)}" class="rating"></span></div>
    	</div>
    	<div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
      <p><a ng-href="{{ placeDetails.website }}">{{ placeDetails.name }}</a></p>
      <p>{{ placeDetails.website }}</p>
      <p>{{ placeDetails.formatted_address }}</p>
      <p>{{ placeDetails.formatted_phone_number }}</p>
      <p>{{ open = placeDetails.opening_hours.open_now === true ? 'Currently open' : 'Closed at this time'  }}</p>
    </div>
  </div>
   <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">search</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>

     <button class="button waves-effect waves-light btn" ng-click="getPlace()">..or maybe somewhere else?</button>
	</ion-content>
</ion-view>